<% include partials/header.ejs %>
    <div class="table-wrapper">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ime komponente</th>
                        <th scope="col">Kratak opis</th>
			<th scope="col">Komada</th>
                    </tr>
                </thead>
                <tbody>
                    <% svekomp.forEach((komponenta, index) => { %>
			     <tr>
                            <td class="col-md-3"><a href="/komp/<%= komponenta.id %>"><%= komponenta.ime_komponente %></a></td>
                            <td class="col-md-7"><%= komponenta.kratak_opis_komp %></td>
			    <td class="col-md-2 <% if (komponenta.komada === 0) {%>bg-danger<% } else if(komponenta.komada === 1){ %>bg-warning"<% } %>">
				<%= komponenta.komada %>
			    </td>   			    
                        </tr>
                    <% }) %>
                </tbody>
            </table>
    </div>
</div>
</body>
</html>